<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Map Reduce Test - Select a mapper for measure <%= measure_id %></title>
    <link type="text/css" rel="stylesheet" media="all" href="/calendrical.css" />
    <script type="text/javascript" src="/jquery-1.4.4.js"></script>
    <% javascripts.each do |javascript| %>
    <script type="text/javascript" src="/qme_js/<%= javascript %>"></script>
    <% end %>
    <script type="text/javascript">
        var mockOutput = {}; // Place holder for the result of the map function

        // Mock the emit function since we don't have the full MongoDB environment
        var emit = function(key, value) {
          mockOutput[key] = value;
        }
        
        var mongoMapper = <%= mapper_function %>
        
        var runMapper = function() {
            eval("var record = " + $('#patient').val());
            var boundMap = _.bind(mongoMapper, record);
            boundMap();
            
            var resultText = "Population: " +mockOutput[null].population.length.toString() + '\n' +
                             "Denominator: " + mockOutput[null].denominator.length.toString() + '\n' +
                             "Numerator: "+ mockOutput[null].numerator.length.toString() + '\n' +
                             "Exclusions: "+ mockOutput[null].exclusions.length.toString();
            $('#result').val(resultText)
        };
    
        $(document).ready(function() {
            $('li').click(function() {
                var patient = $(this).data("patient");
                $('#patient').load('/patients/<%= measure_id %>/' + patient);
            });
            $('#run').click(runMapper);
        });
    </script>
</head>
<body>
    <h1>Map Test</h1>
    <h2>Test Patients</h2>
    <ul>
        <% patients.each do |patient| %>
        <li data-patient="<%= patient %>"><a href="#"><%= patient %></a></li>
        <% end %>
    </ul>
    <h2>Selected Patient</h2>
    <textarea id="patient" rows="10" cols="100"></textarea><br/>
    <input type="button" id="run" value="run"></button>
    <h2>Result</h2>
    <textarea id="result" rows="10" cols="100"></textarea>
</body>
</html>